name: Deploy on Shuttle

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
      - name: Install cargo-binstall
        uses: taiki-e/install-action@cargo-binstall
      - name: Install cargo-shuttle
        run: cargo binstall -y cargo-shuttle
      - name: Prepare for deployment
        shell: bash
        run: sed -i 's|default = \["rustls"\]|default = \["rustls", "shuttle"\]|g' Cargo.toml
      - name: Login
        run: cargo shuttle login --api-key ${{ secrets.SHUTTLE_TOKEN }}
      - name: Deploy
        run: cargo shuttle deploy --allow-dirty --no-test
